html, body {
	height: 100%;
	/*font-size: 100px;*/
	color: #C5C6C7;
}
body {
	text-align: center;
    font-size: 75%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
.problem-container {
	height: 100%;
}
#problem {
	height: 20%;
}
#product {
	height: 15%;
	color: #66FCF1;
}
.multiplication-problem {
	width: 100%;
	text-align: center;
	height: 15%;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
	height: 15%;
}
.divTableCell {
	border: 1px solid white;
	display: table-cell;
	padding: 3px 10px;
	font-size: 70%;
}
.divTableCell:active {
	filter: brightness( 125% );
}
.divTableBody {
	display: table-row-group;
}
#button1, #button4, #button7, #button-blank {
	border-left: none;
}
#button3, #button6, #button9, #buttonC {
	border-right: none;
}
@media ( max-width: 600px ) {
	body {
		font-size: 100%;
	}
	.problem-container {
		height: 100%;
	}
}