html, body {
	height: 100%;
	font-size: 100px;
}
body {
	text-align: center;
    font-size: 75%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /*background-color: #c47e5b;*/
}
.multiplication-problem {
	height: 25%;
    max-width: 120px;
    margin: auto;
    text-align: center;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	border: 1px solid white;
	display: table-cell;
	padding: 3px 10px;
	font-size: 25%;
}
.divTableBody {
	display: table-row-group;
}
#product {
	max-width: 50%;
	text-align: center;
	height: 20%;
	color: #5BA4C4;
}
